.main {
    width: 500px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    background-color: lightgray;
    flex: auto;
    flex-flow: wrap;
    display: flex;
}

.width100 {
    flex-basis: 100%;
    font-size: 40px;
    margin-left: 10px;
}

.width50 {
    flex-basis: 48%;
    font-size: 25px;


}

.temp {
    margin-left: 15px;
    flex-basis: 100%;
    font-size: 30px;
    justify-content: center;
}

.margin_auto {
    margin: auto;
}

.logout {
    font-size: 35px;
    text-align: center;
    display: block;
    height: 50px;
    background-color: rgb(44, 131, 244);
    text-decoration: none
}

.hover:hover {
    background-color: rgb(82, 171, 239);
}

.img {
    width: 100px;
    height: 100px;
}

.margin {
    margin-left: 10px;
}